    <tr align="center" class="ts_edit_row <%= cycle( 'even', 'odd' ) %>">
      <td align="left" class="ts_edit_issue">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr>
            <td width="1">
              <%= check_box_tag( "operate_on_row_#{ @timesheet_row.id }", '1', ( @selected_rows || [] ).include?( @timesheet_row.id ), { :class => 'checkbox' } ) %>
            </td>
            <td>&nbsp;<%= h( @timesheet_row.issue.subject ) %></td>
          </tr>
        </table>
      </td>

<% @timesheet_col_index = -1
   TimesheetRow::DAY_ORDER.each do | day_number |
     @timesheet_col_index += 1
     @time_entry = TimeEntry.find_by_timesheet_row_id(
       @timesheet_row.id,
       :conditions => { :day_number => day_number }
     )
-%>
      <td class="ts_edit_work">
<%= render( :partial => 'time_entries/edit.html.erb' ) %>
      </td>
<% end -%>

      <td class="ts_edit_total total" id="row_total_<%= @row_number %>">
        <%= @timesheet_row.row_sum().precision( 2 ) %>
      </td>
    </tr>